/* DarkModeToggle.css */
body {
    transition: background-color 0.5s ease;
  }
  
  .dark-mode {
    background-color: #292b2c;
    color: #ffffff;
  }
  
  .dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 24px;
    transition: opacity 0.5s ease;
    background-color: #343a40; /* Background color behind the emoji */
    padding: 8px; /* Adjust padding as needed */
    border-radius: 50%; /* Make it circular */
  }
  
  .dark-mode-toggle:hover {
    opacity: 0.7;
  }
  