.rocket-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
  }
  
  .rocket-btn:hover {
    background-color: #0056b3;
  }
  
  .rotate-rocket {
    transform: rotate(-45deg) translateY(-100px);
  }
  